.app-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-header h1 {
  margin: 0;
  font-size: 1.5em;
}

.app-header nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
}

.app-header nav a:hover {
  text-decoration: underline;
}
